In [3]:
import pandas as pd
import os
import json

In [4]:
with open("homeless.json") as f:
    homeless = json.load(f)
    
with open("child.json") as f:
    child = json.load(f)
    
with open("gender.json") as f:
    gender = json.load(f)
    
with open("unemployment.json") as f:
    unemployment = json.load(f)

In [5]:
df1 = pd.DataFrame.from_dict(list(map(lambda x: x["properties"], gender["features"])))
df2 = pd.DataFrame.from_dict(list(map(lambda x: x["properties"], child["features"])))
df3 = pd.DataFrame.from_dict(list(map(lambda x: x["properties"], homeless["features"])))
df4 = pd.DataFrame.from_dict(list(map(lambda x: x["properties"], unemployment["features"])))

In [17]:
df1["male_rate"] = df1["males_total"]/df1["persons_total"]
filtered_df1 = df1.loc[:,["sa2_main16", "male_rate"]]
filtered_df1.head()

  sa2_main16  male_rate
0  207031162   0.486171
1  206061136   0.493490
2  210031440   0.488302
3  211031451   0.476066
4  206071141   0.497557

In [18]:
df2["child_family_rate"] = df2["cf_no_children_f"]/df2["cf_total_f"]
filtered_df2 = df2.loc[:,["sa2_main16", "child_family_rate"]]
filtered_df2.head()

  sa2_main16  child_family_rate
0  210031440           0.785820
1  206061136           2.252228
2  206071141           2.872000
3  210041240           0.616311
4  210041241           0.691365

In [8]:
df3.head()  # no need to handle

   hl_p_homeless_tot sa2_main16
0                223  206071142
1                100  212031302
2                 73  206061136
3                 95  206071141
4                 49  210031440

In [9]:
df4.head()  # no need to handle

   dec_2017 sa2_main11
0       9.9  212031305
1       4.1  208021181
2       4.5  208021182
3       3.8  208031183
4       7.9  212031304

In [25]:
filtered_df1.merge(filtered_df2, on=("sa2_main16")).merge(df3, on=("sa2_main16")).merge(df4, how='left', left_on='sa2_main16', right_on='sa2_main11')

,sa2_main16,male_rate,child_family_rate,hl_p_homeless_tot,dec_2017,sa2_main11
0,207031162,0.486171,0.608548,27,9.4,207031162
1,206061136,0.493490,2.252228,73,4.2,206061136
2,210031440,0.488302,0.785820,49,NaN,NaN
3,211031451,0.476066,0.802333,49,NaN,NaN
4,206071141,0.497557,2.872000,95,10.9,206071141
5,210041240,0.500225,0.616311,21,4.7,210041240
6,210041241,0.489193,0.691365,45,5.3,210041241
7,206071142,0.493814,2.124542,223,8.9,206071142
8,208021180,0.481242,0.681725,86,5.1,208021180
9,213051466,0.510506,0.369868,9,NaN,NaN
10,208011171,0.475830,0.629853,27,6.4,208011171
11,207031167,0.482952,0.597645,16,3.5,207031167
12,208011170,0.484708,0.574010,4,2.9,208011170
13,206041122,0.493135,4.251765,928,3.2,206041122
14,206061135,0.466619,1.234940,40,2.5,206061135
15,208011172,0.488631,0.573875,48,4.9,208011172
16,208021427,0.490979,0.603704,37,NaN,NaN
17,206011105,0.494311,1.562633,170,6.3,206011105
18,206011109,0.498188,0.523183,10,5.6,206011109
19,210011226,0.488051,0.890805,13,5.1,210011226
20,209041430,0.489315,0.448961,14,NaN,NaN
21,210011230,0.484223,0.620293,4,2.5,210011230
22,212031300,0.501703,0.631036,105,11.3,212031300
23,206011106,0.473760,1.560000,26,5.8,206011106
24,208021174,0.485742,0.526865,26,4.1,208021174
25,212031301,0.490406,0.518621,46,6.0,212031301
26,208031183,0.496720,0.417681,0,3.8,208031183
27,206041118,0.513346,2.443411,64,2.1,206041118
28,206041119,0.477293,2.858779,48,1.3,206041119
29,208031184,0.450000,0.000000,0,NaN,NaN
...,...,...,...,...,...,...
279,213031350,0.499443,0.845314,48,5.3,213031350
280,213041359,0.568008,0.910615,13,10.9,213041359
281,213041462,0.503201,0.258373,26,NaN,NaN
282,213041463,0.494431,0.383039,31,NaN,NaN
283,213051361,0.502936,0.507714,56,8.6,213051361
284,213051363,0.526510,0.598459,96,10.2,213051363
285,213051365,0.505497,0.368458,132,5.6,213051365
286,213051366,0.528311,0.429325,97,5.2,213051366
287,213051368,0.496581,0.808209,51,9.9,213051368
288,213051369,0.498278,0.474448,92,10.0,213051369
289,213051464,0.507625,0.450221,3,NaN,NaN
290,213051465,0.498695,0.378207,16,NaN,NaN
291,213051467,0.493500,0.624312,139,NaN,NaN
292,213051468,0.499010,0.695022,60,NaN,NaN
293,214011370,0.496223,0.654266,54,6.9,214011370
294,214011371,0.487986,1.021718,213,10.2,214011371
295,214011372,0.489108,1.026066,158,13.0,214011372
296,214011376,0.496474,0.541420,0,3.4,214011376
297,214011373,0.485927,0.747141,40,3.2,214011373
298,214011374,0.490594,0.649969,19,3.6,214011374
299,214011375,0.495251,0.950237,68,7.7,214011375
300,214021377,0.487186,1.539216,10,5.6,214021377
301,214021378,0.502834,1.218698,3,1.6,214021378
302,214021379,0.498571,0.993498,62,6.7,214021379
303,214021380,0.469624,1.186777,74,4.2,214021380
304,214021381,0.488695,0.689748,9,1.5,214021381
305,214021382,0.486226,0.743699,6,2.1,214021382
306,214021383,0.497418,1.504957,23,6.1,214021383
307,214021384,0.476204,1.517459,87,9.5,214021384
308,214021385,0.486559,0.805825,22,4.3,214021385